@layer global, components, utility;

@layer global {
    /* source-sans-3-regular - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: "Source Sans 3";
        font-style: normal;
        font-weight: 400;
        src: url("/fonts/source-sans-3-v19-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    /* source-sans-3-700 - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: "Source Sans 3";
        font-style: normal;
        font-weight: 700;
        src: url("/fonts/source-sans-3-v19-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    /* source-sans-3-900 - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: "Source Sans 3";
        font-style: normal;
        font-weight: 900;
        src: url("/fonts/source-sans-3-v19-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }

    /* FONTS */
    :root {
        --fs-14: calc(14 / 16 * 1rem);
        --fs-16: calc(16 / 16 * 1rem);
        --fs-24: calc(24 / 16 * 1rem);
        --fs-36: calc(36 / 16 * 1rem);
        --fs-42: calc(42 / 16 * 1rem);
        --fs-48: calc(48 / 16 * 1rem);
        --fs-72: calc(72 / 16 * 1rem);

        --font-size-topnav: var(--fs-14);
        --font-size-h1: var(--fs-42);
        --font-size-h2: var(--fs-36);
        --font-size-h3: var(--fs-24);

        @media (width >= calc(600 / 16 * 1rem)) {
            --font-size-topnav: var(--fs-16);
            --font-size-h1: var(--fs-72);
            --font-size-h2: var(--fs-48);
        }
    }

    /* COLORS   */
    :root {
        --c-white: hsl(0, 0%, 100%);
        --c-grey: hsl(233, 14%, 25%);
        --c-teal: hsl(180, 100%, 42%);
        --c-purple: hsl(240, 50%, 50%);
        --c-black: hsl(0, 0%, 0%);
        --c-transparent: transparent;
        --c-magenta: hsl(320, 85%, 41%);

        --color-main-bg: var(--c-white);
        --color-dark-text: var(--c-grey);
        --color-light-text: var(--c-white);
        --color-hero-bg: var(--c-purple);
        --color-header-bg: var(--c-purple);
        --color-primary-button-bg: var(--c-teal);
        --color-primary-button-text: var(--c-white);
        --color-secondary-button-bg: var(--c-transparent);
        --color-secondary-button-border: var(--c-white);
        --color-secondary-button-text: var(--c-white);
        --color-full-width-bg: var(--c-magenta);
    }

    *,
    *::after,
    *::before {
        box-sizing: border-box;
    }

    * {
        margin: 0;
    }

    body {
        font-family: "Source Sans 3", Arial, Helvetica, sans-serif;
        line-height: 1.3;
        color: var(--color-dark-text);
        padding-block-end: 50vh;
        /* temporary */
    }

    h1,
    h2,
    h3 {
        line-height: 1.1;
    }

    h1 {
        font-size: var(--font-size-h1);
    }

    h2 {
        font-size: var(--font-size-h2);
    }

    h3 {
        font-size: var(--font-size-h3);
    }

    a {
        text-decoration: none;
    }

    img,
    picture,
    svg {
        display: block;
        max-width: 100%;
    }

    .wrapper {
        width: min(100% - 48px, 1200/16 * 1rem);
        margin-inline: auto;
    }
}

@layer components {
    .topnav {
        background-color: var(--color-header-bg);

        .topnav__homelink {
        }
        .topnav__logo {
        }
        .topnav__links {
            list-style-type: none;
            padding: 0;
        }
        .topnav__item {
        }
        .topnav__link {
            font-size: var(--font-size-topnav);
            color: var(--color-light-text);
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.05em;
        }
    }
}

@layer utility {
    .visually-hidden {
        position: absolute;
        left: -10000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;

        &.skip:focus {
            left: 0;
            width: auto;
            height: auto;
            background-color: #fff;
            padding: 10px;
            border: 1px solid;
        }
    }
}
